@font-face {
    font-family: $font-family-lato-reg;
    src: url('../assets/fonts/Lato-Reg.ttf');
}

@font-face {
    font-family: $font-family-lato-bol;
    src: url('../assets/fonts/Lato-Bol.ttf');
}

@font-face {
    font-family: $font-family-lato-reg-ita;
    src: url('../assets/fonts/Lato-RegIta.ttf');
}