//- --------------------------------------------------------- //
//- ------------- STYLEGUIE COLOR PALETTE ------------------- //
//- --------------------------------------------------------- //

$color-black: #000000;
$color-white: #ffffff;
$color-gray: #AB9BA8;
$color-background-gray: #EEEAEF;
$color-main-purple: #4D384A;
$color-selected-green: #4A968A;
$color-icon-offline: #625360;
$color-icon-online: #49837D;
$color-header-purple: #392D38;

//- -------------------------------------------------------- //
//- ------------------------ FONTS ------------------------- //
//- -------------------------------------------------------- //

$font-family-lato-reg: 'lato-reg';
$font-family-lato-bol: 'lato-bold';
$font-family-lato-reg-ita: 'lato-ita';
