.message-board-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &__title {
        display: flex;
        align-items: center;
        color: $color-black;
        font-size: 30px;
        font-family: $font-family-lato-bol;
        margin: 0 0 10px;
    }

    &__text {
        color: $color-gray;
        font-size: 15px;
        font-family: $font-family-lato-reg;
    }

    &__input {
        width: 220px;
        font-size: 20px;
        padding: 5px;
    }
}